
*.exe
Peg-Solitaire/Peg-Solitaire/bin/Debug/Peg-Solitaire.exe.config
*.pdb
Peg-Solitaire/Peg-Solitaire/obj/Debug/Peg-Solitaire.csproj.CoreCompileInputs.cache
Peg-Solitaire/Peg-Solitaire/obj/Debug/Peg-Solitaire.csproj.FileListAbsolute.txt
Peg-Solitaire/Peg-Solitaire/obj/Debug/Peg-Solitaire.csproj.GenerateResource.cache
Peg-Solitaire/Peg-Solitaire/obj/Debug/Peg_Solitaire.frm_menu.resources
Peg-Solitaire/Peg-Solitaire/obj/Debug/Peg_Solitaire.Properties.Resources.resources
*.cache
Peg-Solitaire/.vs/Peg-Solitaire/v15/.suo
Peg-Solitaire/.vs/Peg-Solitaire/v15/Server/sqlite3/storage.ide-shm
